/* common shared styles */
body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Work Sans', sans-serif;
}

.btn-prime {
  border-radius: 5px;
  background: #FFF;
  border: 0px;
  color: #005FAC;
  text-align: right;
  font-size: 20px;
  font-weight: 600;
  padding: 17px;
}

/* header related styles */
.head {
  background-image: url('../Images/banner/banner3.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;


}

.banner {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 216px 230px 186px 845px;
}

.banner-term {

  color: #FFF;
  text-align: right;
  font-size: 65px;
  font-weight: 700;
}

.banner-des {
  color: #FFF;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
}

.btn-prime {
  margin-left: 450px;
}

/* main related styles */
.my-failure {
  display: flex;
  align-items: center;
  margin: 140px 322px 129px 228px;
}

.my-failure-img {
  margin-right: 134px;
}

.failure-title {
  /* My failures of previous year width: 288px; */
  color: #151414;
  font-size: 40px;
  font-weight: 700;
}

.failure-content {
  color: #44434;
  font-size: 16px;
  font-weight: 400;
}

.li-crack {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
}
.li-new{
  margin-bottom: 8px;
}
/* my plan related sec */
